*{
    margin:0;
   
}
.form{ 
    /* float:right;  */
    border:1px solid black;
    
    width:380px;
    height:340px;
    border-radius:10px;
    background-color: #ffffff;
    margin-top:80px;
   

    margin-left: 80px;
    
}
input[type=text]{/* It will target all the input elements whose type is text. */
    width:85%;
    height:40px;
    margin-left:20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left:15px;
}
button{
    margin-top:20px;
    margin-left:100px;
    width:150px;
  
}
button:hover{
    background-color: green;
}